.line1 {
    border-top: 1px solid #000;
    position: relative;
    transform: translateY(25px);
}
.width {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 100%);
}
.h-1n {
    position: absolute;
    height: 50px;
    border-right: 1px solid #000;
    top: 50%;
    transform: translateY(-50%);
}
.h-1n1 {
    left: 360px;
}
.h-1n2 {
    left: 760px;
}
.h-1n3 {
    left: 1080px;
}
.h-1n4 {
    left: 1440px;
}
.h-1n::after {
    position: absolute;
    top: 100%;
    /* 여기 left: 50%; 을 왜 쓰는지, 기준이 h-1n인지 line1인지 모르겠음 */
    left: 50%; 
    transform: translateX(-50%);
}
.h-1n1::after{content: "360";}
.h-1n2::after{content: "760";}
.h-1n3::after{content: "1080";}
.h-1n4::after{content: "1440";}

.box1 {
    width: 300px; height: 300px;
    background-color: gray;
    position: fixed;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.8s;
}
/* 실험 코드 -> 실무 코드X */
body{height: 100vh;}
body:hover .box1 {
    transform: translate(-40%,-40%);
}

.box2 {
    width: 61px; height: 20px;
    background-color: green;
    position: absolute;
    top: 26px; left: 1440px;
    transform: translateX(-50%);
}
.box2:hover {
    transform: translate(0);
}

/* 여기 코드 작성 전후 차이를 모르겠음. 강의영상 보기 */
@media screen and (max-width: 1080px) {
    .box2 {
        left: 1080px;
    }
}